@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body{
    background-color: #fff5d7;
    margin: 0%;
    position: relative;
    overflow: hidden;
}
.maintextcontainer{
    display: flex;
}

.maintextcontainer img{
    width: 75%;
    height: 75%;
    border-radius: 50%;
    margin: 60px;
    margin-left: 70px;
}
.hometext{
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    color: rgb(84, 18, 18);;
    margin: auto;
}
.mainaboutme{
    display: flex;
    color: rgb(84, 18, 18);;
    font-size: large;
}
.leftside{
    flex:1;
    font-family: 'Bree Serif', serif;
    
    margin: 60px;
}
.rightside{
    flex:1;
    font-family: 'Bree Serif', serif;
    margin: 60px;
    
}
.rightside h2{
    text-align: center;
}
.rightside table{
    text-align: center;
}
.rightside table tr td{
    text-align: center;
    color:  rgb(44, 2, 2);;
}

/* Animations */

.slide-right{
    -webkit-animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }

  .slide-bottom {
	-webkit-animation: slide-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-90px);
              transform: translateY(-90px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-90px);
              transform: translateY(-90px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

.focus-in-contract {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract {
    0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  .fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }  