@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.project{
    padding-left: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
    
}
.project h2{
    font-family: 'Lobster', sans-serif;
    font-size:50px;
    text-align: center;
    color: rgb(84, 18, 18);;
}
.projectsection{
    display: flex;
    grid-template-columns: 1fr 2fr; 
    font-weight: 500;
    font-size: medium;
    position: relative;
}

.projectleft{
    flex: 1;
    line-height: 45px;
    font-family: 'Bree Serif', serif;
    color: rgb(84, 18, 18);;
}
.animaly{
    margin-top:10px;
}
.aqi{
    margin-top: 45px;
}
.ser{
    margin-top: 15px;
    padding-top: 15px;
}
.projectright{
    flex:2;
    font-family: 'Bree Serif', serif;
    color:  rgb(44, 2, 2);;
    font-size: 17px;
}

/* Animation */

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #fff5d7, 0 2px 0 #fff5d7, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #fff5d7, 0 2px 0 #fff5d7, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  